// Allows width to not include padding, useful for percentage width + pixel padding
@mixin border-box() {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	box-sizing: border-box;
}

// Helper mixin for headings
@mixin heading($font-size: 18px, $pad-top: 1.25, $pad-bottom: 0.75, $lines: 1) {
	//@include adjust-font-size-to($font-size, 1);

	@include adjust-font-size-to($font-size, $lines);
	//font-size: $font-size;
	//line-height: 1.444444444em;
	@include padding-leader($pad-top, $font-size);
	@include padding-trailer($pad-bottom, $font-size);
}

@mixin font-smooth($type) {
	-moz-font-smoothing: $type;
	-webkit-font-smoothing: $type;
	font-smoothing: $type;
}

@mixin no-select {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}

@mixin text-hide {
	/*
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	*/
	text-indent: -99999px;
}



// Useful Classes
.print_only {
	display: none;
}
.visuallyhidden {
	visibility: hidden;
	height: 0px;
	width: 0px;
}