//	******************************************************************
//	Compass Framework
//	******************************************************************
	
@import
	"compass/reset",
	"compass/utilities",
	"compass/css3";


//	******************************************************************
//	Global Variables
//	******************************************************************
	
$base-font-size: 14px;
$font-family: sans-serif;
$text-color: #25231f;
$gutter: 10px;

//	******************************************************************
//	Base Styles
//	******************************************************************

body {
	font-family: $font-family;
	color: $text-color;
	background: #fbfbfb url('../img/80-70-3.png');
	//@include font-smooth(antialiased);

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	font-size: $base-font-size;
	font-weight: 400;
}

footer {
	text-align: center;
	font-size: 11px;
	color: #888;
	line-height: 25px;
	border-top: 1px solid #ddd;
	background: #eee url('../img/80-70-3.png');

	a {
		color: #eb9500;
		cursor: pointer;
		outline: none;
		&:hover {
			text-decoration: underline;
			color: #b07000;
		}
	}
}
nav {
	padding: $gutter $gutter 3px $gutter;
	li {
		padding-bottom: $gutter;
	}
	a {
		display: block;
		line-height: 30px;

		width: 92px;
		height: 42px;
		text-align: center;
		-webkit-background-clip: padding-box;
		cursor: pointer;
		width: 90px;
		height: 34px;
		line-height: 34px;

		@include border-radius(7px);
		border: 1px solid #bbb;
		border-color: #ccc #bbb #aaa #bbb;

		@include background(
			linear-gradient(
				#fff 0%,
				#e9e9e9 100%
			),
			url('../img/80-70-3.png')
		);
		
		@include box-shadow(
			inset 0px -1px 4px rgba(#000, 0.1),
			inset 0px 1px 1px #fff
		);

		@include text-shadow(0px 1px 1px #fff);

		&:hover {
			@include background(
				linear-gradient(
					#fff 0%,
					#f4f4f4 100%
				),
				url('../img/80-70-3.png')
			);
			@include box-shadow(
				inset 0px -1px 4px rgba(#000, 0.1),
				inset 0px 1px 1px #fff
			);
			color: #f87f06;
		}

		&:active {
			@include background(
				linear-gradient(
					#e9e9e9 0%,
					#f9f9f9 100%
				),
				url('../img/80-70-3.png')
			);
			@include box-shadow(
				inset 0px -1px 4px rgba(#000, 0.05),
				inset 0px -1px 1px #fff,
				0px 0px 2px #fff
			);
			position: relative;
			bottom: -1px;
		}
		
		&[data-active="on"]  {
			@include background(
				linear-gradient(
					#4b4947 0%,
					#5f5d5b 100%
				),
				url('../img/80-70-3.png')
			);
			color: #eee;

			@include box-shadow(
				inset 0px 1px 6px 0px rgba(#373534, 0.5),
				0px 1px 2px #fff
			);
			border-color: #373534;
			border-bottom-color: #2d2c2a;

			@include text-shadow(
				0px -1px 1px rgba(#373534, 0.5)
			);

			&:hover {

				@include background(
					linear-gradient(
						darken(#4b4947, 10) 0%,
						darken(#5f5d5b, 10) 100%
					),
					url('../img/80-70-3.png')
				);
				color: #fff;
			}
		}
	}
}